################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InheritanceAndMethodOverriding/.vs
/InheritanceAndMethodOverriding/bin/Debug/net8.0
